body {
  font-family: "Lobster", cursive;
}

h1 {
  color: black;

  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  margin: 0 0 20px;
  margin-top: 5px;
  padding: 0;
}

li {
  color: black;
  display: block;

  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background-color: rgb(165, 185, 243);
  padding: 20px;
  border: 1px solid red;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-top: -20px;
  margin-right: -15px;
  height: 64px;
  width: 64px;
}

.currentTemp {
  color: black;
  font-size: 48px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 16px;

  margin-top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temp {
  font-size: 13px;
}

.forecast-temp-min {
  opacity: 0.5;
}